{% load static %}

<footer class="site-footer">
            <div class="footer-grid">
                <div class="about-col">
                    <div class="brand-header"><span class="brand-name">آذر
                            یزدان</span><div class="brand-logo"><div
                                class="logo-inner">
                                <a href="{% url 'home' %}">
                                <img src="{% static 'asets/logo.svg' %}"
                                    alt></a></div></div></div>
                    <p class="about-desc">برترین آژانس خلاقیت دیجیتال کشور با
                        رویکرد آموزش پروژه‌محور و مهارت‌محور جهت آماده‌سازی نسل
                        آینده رهبران فناوری و مارکتینگ.</p>
                </div>
                <div class="links-col">
                    <a href="{% url 'services' %}">
                        <span class="col-heading">خدمات ما</span>
                    </a>
                        <nav class="footer-links">
                            <a href="{% url 'services_web' %}">طراحی وب</a>
                            <a href="{% url 'services_seo' %}">سئو و بهینه‌سازی</a>
                            <a>تولید محتوا</a>
                            <a>برندینگ</a>
                        </nav>
                </div>
                <div class="links-col">
                    <span class="col-heading">بیشتر بدانید</span>
                    <nav class="footer-links">
                        <a href="{% url 'template_list' %}" >پروژه ها</a>
                        <a href="{% url 'courses:course_list' %}" >آکادمی</a>
                        <a href="{% url 'users:blog_home' %}">مقالات</a>
                        <a href="{% url 'users:contact_page' %}">تماس با ما</a>
                    </nav>
                </div>
                <div class="contact-col">
                    <span class="col-heading">ارتباط با ما</span>
                    <div class="contact-items"><div class="contact-line">آدرس: تبریز، هفده شهریور جدید کوی نوبری پلاک 18
</div><div
                            class="contact-line">تلفن:04135579396
</div><div
                            class="contact-line">ایمیل:info@yazdancode.com</div></div>
                    <div class="certs-box"><div class="certs-label">مجوز های ما</div>
                    <div class="cert-thumbnails">
                        <div
                                class="cert-thumb">

                              <a referrerpolicy='origin' target='_blank' href='https://trustseal.enamad.ir/?id=751865&Code=zaRCefkffz9lXT0auB8OFRFlcsDaPI8r'><img referrerpolicy='origin' src='https://trustseal.enamad.ir/logo.aspx?id=751865&Code=zaRCefkffz9lXT0auB8OFRFlcsDaPI8r' alt='' style='cursor:pointer' code='zaRCefkffz9lXT0auB8OFRFlcsDaPI8r'></a>  
                            </div>
                            <div
                            
                                class="cert-thumb">

                               <a href="https://eastp.ir/" alt=""> <img src="{% static 'img/park.jpg' %}" alt=""></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-strip">
                <div class="social-icons">
                    <div class="social-circle"><div class="social-dot">
                        <a href="https://t.me/+JOGfOfUWO2Q4NzVk">
                        <img
                                src="{% static 'asets/twitter.svg' %}" alt></a></div></div>
                    <div class="social-circle"><div class="social-dot">
                        <a href="https://www.instagram.com/azaryazdan.company">
                        <img
                                src="{% static 'asets/instagram.svg' %}" alt></a></div></div>
                    <div class="social-circle"><div class="social-dot">
                        <a href="https://www.linkedin.com/company/azar-yazdan/">
                        <img
                                src="{% static 'asets/linkedin.svg' %}" alt></a></div></div>
                </div>
                <div class="copyright-text">© ۱۴۰۵ تمامی حقوق برای شرکت آذر
                    یزدان محفوظ است. طراحی و توسعه توسط شرکت آذر یزدان</div>
            </div>
        </footer>