{% load static %}
<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{{ SEO_TITLE }}{% endblock %}</title>
    <meta name="description" content="{% block description %}{{ SEO_DESCRIPTION }}{% endblock %}">

    {% if SEO_INDEXABLE %}
        <meta name="robots" content="index, follow">
    {% else %}
        <meta name="robots" content="noindex, nofollow">
    {% endif %}

    {% if SEO_OG_IMAGE %}
        <meta property="og:image" content="{{ request.scheme }}://{{ request.get_host }}{{ SEO_OG_IMAGE }}">
    {% endif %}
    <title>{% block title %}آذریزدان{% endblock %}</title>
</head>
<body>
    <!-- محتوای صفحه -->
    {% block content %}
    {% endblock %}

    <!-- ========== چت‌بات ========== -->
    {% if not hide_chatbot %}
        {% include 'chatbot.html' %}
    {% endif %}
</body>
</html>